* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all 0.2s linear;

}

html {

    font-size: 80%;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

.menu nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.menu nav .logo {
    font-size: 2rem;
    color: var(--black);
    padding-right: 3rem;
}

.menu nav a {
    font-size: 1.5rem;
    color: var(--black);
    margin: 0 1rem;
}

.menu nav ul li a {
    color: #fff;
    border-radius: 2rem;

}

.menu ul li a:hover {
    background: orange;
}

.menu .icon a {
    text-decoration: none;
    outline: none;
    border: none;
}

.menu .icon a:hover {
    color: orange;
    transform: scale(1.5);
}

.container .row .btn{
    font-size: 20px;
    padding: 10px;
    border: 1px solid orange;
    background: none;
    color: orange;
    transition: .2s linear;
}

.container .row .btn:hover{
    background: orange;
    color: white;
}












.footer {
    padding-top: 40px 0;
    color: #fff;
}



.footer p {
    padding-top: 5px;
    font-size: 20px;
}

.footer i {
    margin-right: 10px;
}

.footer .list-inline-item {
    margin-right: 20px;
}